@import 'header';
@import 'colors';
@import 'scroll-bar';
@import 'footer';

body {
   font-weight: 600;
   background-color: white;
   line-height: 1.2;
}

main {}

/* style for input*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}


input[type="number"] {
   -moz-appearance: textfield;
}

input {

   border: 1px solid $borders_for_input;
   width: 90%;
   padding: 5px 10px;
   height: 3rem;

}

input:focus {
   outline: none;
   background-color: #66666615;
}


textarea {

   border: 1px solid $borders_for_input;
   width: 90%;
   padding: 5px 10px;
   height: 3rem;

}

textarea:focus {
   outline: none;
   background-color: #66666615;
}




textarea::placeholder {
   color: #777;
}

input::placeholder {
   color: #777;
}

label {
   font-weight: bold;
   color: #444;
   margin-bottom: 4px;
   display: block;
}

.required {
   color: red;
}

/* style for input*/

.view_constuct_in {}

.constuctor_wrapp {
   display: flex;
}

.view_constuct {
   width: 70%;
   padding: 10px 15px 10px 15px;
   position: relative;
}

.view_constuct::after {}


.view_constuct_out {
   position: relative;
   max-height: calc(100vh - 50px - 50px);
}



.layer {
   img {
      width: 100%;
      height: auto;
      max-height: calc(100vh - 50px - 50px);
   }

   max-height: calc(100vh - 50px - 50px);
   width: 100%;
   height: auto;
   position: absolute;
   top: 0;
   left: 0;
}

.layer1 {}

.layer1::after {}

.layer2 {}

.layer3 {}

.layer4 {}

.total_block {
   display: block;
   width: 100%;
   background-color: #141728;
   position: absolute;
   top: 103%;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px 10px 8px 20px;
   z-index: 3;
}

.costs {
   font-size: 22px;
   font-weight: 500;
}

.next_prew_buttons {}

.next_prew_buttons button {
   background-color: #ffb302;
   color: #fff;
   height: 80%;
   padding: 7px 15px;
   border-radius: 5px;
   font-size: 16px;
}

.next_prew_buttons button:hover {
   background-color: $Yelow-hover;
}

.prev {
   margin-right: 10px;
}

.next {}

.view_constuct_in {}

.decor_right_block {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 100px;
   background-color: #f5f5f5;
   height: 42%;
}

.nav_construct {
   padding: 20px 0px 0px 0px;
   display: flex;
   height: 100%;
   flex: 1 1 auto;
   max-width: 30%;
}

.nav_construct_descr {
   width: 80%;
   overflow-y: auto;
   padding-right: 10px;
}


.details_punkt {
   display: none;
}

.details_punkt.active {
   display: block;
}

.details_punkt1 {
   input {
      margin-bottom: 15px;
   }
}

.details_punkt__title {
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 15px;
}

.details_punkt1__warning {
   font-size: 13px;
   line-height: 1.2;
   margin-bottom: 15px;
}

.details_punkt2 {}



.details_punkt3 {}

.details_punkt4 {}

.details_punkt5 {}

.details_punkt6 {}

.details_punkt7 {}

.details_punkt8 {}

.details_punkt9 {}

.details_punkt__atention {
   background-color: $Yelow;
   padding: 15px 10px;
   text-align: center;
   line-height: 1.4;
   margin-top: 10px;
   position: relative;
   cursor: pointer;
}

.details_punkt__atention_input {
   cursor: pointer;
   left: 0;
   top: 0;
   position: absolute;
   opacity: 0;
   width: 100%;
   height: 100%;
}

.details_punkt10 {}

.details_punkt10 input {
   margin-bottom: 20px;
}

.details_punkt10 textarea {
   resize: none;
   width: 100%;
   height: 100px;
}

.nav_construct__nav {
   width: 30%;
   overflow-y: auto;
   background-color: #f5f5f5;
   margin-top: -20px;
   padding-top: 20px;
   position: relative;
   z-index: 10;
}

.navigation_list {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.navigation_item {
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.step {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
   border: 1px solid $borders_for_input;
   text-align: center;
   width: 23px;
   height: 23px;
   margin-bottom: 5px;
   cursor: pointer;
}

.step.active {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
   text-align: center;
   width: 23px;
   height: 23px;
   background-color: $Yelow;
   margin-bottom: 5px;
   color: white;
}

.step_name {
   font-size: 12px;
}

article {
   border: 1px solid #778899;
   border-radius: 8px;
   color: #778899;
   cursor: pointer;
   margin: 0 8px 8px 0;
   padding: 8px;
   width: 100px;
   text-align: center;
}

article.selected:after {
   content: "✓";
   color: #000;
   font-weight: bolder;
   font-size: 20px;
   display: flex;
   justify-content: flex-end;
}

article .article-image {
   opacity: .7;
   height: 60.25px;
}

article img {
   width: 100%;
}

article.selected .article-image {
   opacity: 1;
}

.article-description {}

.details_punkt2__type_wrap {
   margin-bottom: 25px;
   display: flex;
   flex-wrap: wrap;
}

.details_punkt2__color_wrap {
   margin-bottom: 25px;
   display: flex;
   flex-wrap: wrap;
}



@media screen and (min-width: 1700px) {
   .view_constuct {
      width: 65%;
      padding: 10px 10px 10px 10px;
      position: relative;
   }

   .nav_construct_descr {
      width: 85%;
   }

   .nav_construct {
      max-width: 35%;
   }

   .nav_construct__nav {
      width: 15%;
   }
}

@media screen and (min-width: 1900px) {
   .view_constuct {
      width: 60%;
      padding: 10px 10px 10px 10px;
      position: relative;
   }

   .nav_construct {
      max-width: 40%;
      zoom: 130%;
   }

   .nav_construct_descr {
      width: 85%;
   }

   .nav_construct__nav {
      width: 15%;
   }


}

@media screen and (max-width: 1000px) {
   .decor_right_block {
      display: none;
   }

   .constuctor_wrapp {
      display: flex;
      flex-wrap: wrap;
   }

   .view_constuct {
      width: 100%;
      padding: 10px 10px 10px 10px;
      position: relative;
   }

   .nav_construct {
      padding: 80px 10% 10px 10%;
      display: flex;
      flex: 1 1 auto;
      max-width: initial;
   }

   .nav_construct__nav {
      /*  border-right: 2px solid $borders_for_input;*/
   }
}

@media screen and (max-width: 500px) {

   .nav_construct {
      padding: 80px 10px 10px 10px;
      display: flex;
      flex: 1 1 auto;
      max-width: initial;
   }

   .nav_construct__nav {
      /* border-right: 2px solid transparent;*/
   }
}

@media screen and (max-width: 385px) {
   .total_block {
      zoom: 80%;
   }
}

@media screen and (max-width: 328px) {
   .total_block {
      zoom: 70%;
   }
}